name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      sha_short: ${{ steps.vars.outputs.sha_short }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      # For more platform support, uncomment the following lines
      #  - name: set up qemu
      #    uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract commit SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile
          push: false
          tags: |
            greddit:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=docker,dest=/tmp/greddit-image.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: /tmp/greddit-image.tar
          retention-days: 1

  push:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image
          path: /tmp

      - name: Load image
        run: docker load --input /tmp/greddit-image.tar

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PAT }}

      - name: Tag and push Docker image
        run: |
          docker tag greddit:${{ github.sha }} ${{ secrets.DOCKER_HUB_USERNAME }}/greddit:${{ github.sha }}
          docker tag greddit:${{ github.sha }} ${{ secrets.DOCKER_HUB_USERNAME }}/greddit:${{ needs.build.outputs.sha_short }}
          docker tag greddit:${{ github.sha }} ${{ secrets.DOCKER_HUB_USERNAME }}/greddit:latest
          
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/greddit:${{ github.sha }}
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/greddit:${{ needs.build.outputs.sha_short }}
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/greddit:latest